<div class="py-3">
  <label for="pokemonNameInput" class="form-label">Pokemon name</label>
  <div class="input-and-autocomplete">
    <input type="text" [(ngModel)]="pokemonInputValue" (input)="onPokemonNameInputChange()" class="form-control" id="pokemonNameInput" placeholder="bulbizarre">
    <ul class="list-group autocomplete">
      <li (click)="matchingPokemonClick(matchingPokemon)" *ngFor="let matchingPokemon of matchingPokemons" class="list-group-item">
        {{ matchingPokemon }}
      </li>
    </ul>
  </div>


  <button type="button" (click)="onAddPokemonClick()" class="btn btn-primary">
    Add pokemon
  </button>

  <div *ngIf="wasPokemonAdded; else noPokemon">Pokemon was added</div>

  <div *ngIf="wasBadWordWritten">C'est celui qui dit qui est</div>

  <ng-template #noPokemon>
    No Pokemon was added yet
  </ng-template>

</div>

<div>{{ pokemonInputValue }}</div>

<ul class="list-group">
  <li *ngFor="let pokemon of pokemons; let i = index" class="list-group-item">
    <app-pokemon-item [pokemon]="pokemon" (onDelete)="onPokemonDelete(i)" class="pokemon-item"></app-pokemon-item>
  </li>
</ul>
