<div class="py-3">
  <label for="pokemonNameInput" class="form-label">Pokemon name</label>
  <input type="text" [(ngModel)]="pokemonInputValue" (input)="onPokemonNameInputChange($event)" class="form-control" id="pokemonNameInput" placeholder="bulbizarre">
  <button type="button" (click)="onAddPokemonClick()" class="btn btn-primary">
    Add pokemon
  </button>
</div>

<div>{{ pokemonInputValue }}</div>

<ul class="list-group">
  <li class="list-group-item">
    <app-pokemon-item class="pokemon-item"></app-pokemon-item>
  </li>
  <li class="list-group-item">
    <app-pokemon-item class="pokemon-item"></app-pokemon-item>
  </li>
  <li class="list-group-item">
    <app-pokemon-item class="pokemon-item"></app-pokemon-item>
  </li>
</ul>
